extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-8.mx-auto
        +box-head(pageTitle)
        form(
          action="/user/password/edit?_method=PATCH"
          method="POST"
        )
          div(class="form-group")
            label(for="password") Mật khẩu cũ
            input(
              type="password"
              class="form-control"
              id="oldPassword"
              name="oldPassword"
              required
            )
          div(class="form-group")
            label(for="password") Mật khẩu mới
            input({
              type="password"
              class="form-control"
              id="newPassword1"
              name="newPassword1"
              required
            })
          div(class="form-group")
            label(for="password") Nhập lại mật khẩu
            input({
              type="password"
              class="form-control"
              id="newPassword1"
              name="newPassword2"
              required
            })              
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Cập nhật