head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
body
.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`) 
          <i class="fa-solid fa-house"></i>  Tổng quan
      if(role.permissions.includes("products_view"))
        li
          a(href=`/${prefixAdmin}/products`) 
            <i class="fa-solid fa-store"></i> Danh sách sản phẩm
        li
          a(href=`/${prefixAdmin}/recycleBin`) 
            <i class="fa-solid fa-dumpster"></i> Thùng rác sản phẩm
      if(role.permissions.includes("products-category_view"))
        li
          a(href=`/${prefixAdmin}/products-category`) 
            <i class="fa-solid fa-list"></i> Danh mục
        li
          a(href=`/${prefixAdmin}/recycleBinCategory`) 
            <i class="fa-solid fa-dumpster"></i> Thùng rác danh mục  
      li
        a(href=`/${prefixAdmin}/cart`)
          <i class="fa-solid fa-cart-shopping"></i> Đơn hàng                   
      if(role.permissions.includes("roles_view"))
        li
          a(href=`/${prefixAdmin}/roles`) 
            <i class="fa-solid fa-universal-access"></i> Nhóm quyền     
      if(role.permissions.includes("roles_permissions"))
        li
          a(href=`/${prefixAdmin}/roles/permissions`) 
            <i class="fa-regular fa-circle-check"></i> Phân quyền
      if(role.permissions.includes("accounts_view"))
        li
          a(href=`/${prefixAdmin}/accounts`) 
            <i class="fa-solid fa-user"></i> Tài khoản admin
      li
        a(href=`/${prefixAdmin}/users`) 
          <i class="fa-solid fa-users"></i> Quản lý tài khoản user
      li
        a(href=`/${prefixAdmin}/settings/general`)
          <i class="fa-solid fa-gear"></i> Cài đặt chung

